body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.main-heading {
    font-size: 50px;
}

.name-color {
    color: orange;
}

.section-flex {
    display: flex;
    align-items: center;
    column-gap: 25px;
    padding: 0px 30px;
}

.section-bg {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width {
    width: 50%;
}

.hire-me-link {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
}