body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


.name-color {
    color: orange;
}

.section {
    display: flex;
    margin-bottom: 80px;
}

.top-bg-img {
    background-repeat: no-repeat;
    background-image: url(images/top-banner.png)
}

.middle-bg {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.half-width {
    width: 50%;
    margin: 30px;

}

.half-width img {
    width: 80%;
}

.link-buttonm {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
}

.experience-area {
    display: flex;
}