body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.h1 {
    font-size: 40px;
}

.name-color {
    color: orange;
}

.section-1 {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 150px;
}

.section-2 {
    display: flex;
    align-items: center;
    column-gap: 25px;
    padding: 0px 30px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.half-width {
    width: 50%;
    padding: 30px;
    margin-left: 10px;

}

.half-width img {
    width: 80%;
}

.hire-me-link {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
}

.experience-h1 {
    margin-left: 50px;
    font-size: 50px;
}

.experience-area {
    display: flex;
}

.flexible-conteiner {
    display: flex;
}