body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 0;

}


.name-color {
    color: orange;
}

.welcome {
    display: flex;
    margin-bottom: 50px;
}

.top-bg-img {
    background-repeat: no-repeat;
    background-image: url(images/top-banner.png)
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    margin-bottom: 80px;
}

.half-width {
    width: 50%;
    margin: 30px 30px;
    text-align: justify;

}

.half-width img {
    width: 70%;
    margin-left: 50px;
}

.link-buttonm {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
}

.experience-area {
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    border-radius: 10px;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray
}